body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('image/sign-up.svg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#main-content {
    width: 100%;
    text-align: center;
}

.register-section {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    margin: 0 auto;
}

.register-container {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #1E90FF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4682B4;
}

p {
    margin-top: 16px;
    font-size: 14px;
}

a {
    color: #1E90FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}